<nav class="navbar">
  <h1>Portfolio</h1>
  <ul>
    <a href="#first-page"><li>Home</li></a>
    <a href="#second-page"><li>About</li></a>
    <a href="#third-page"><li>Skills</li></a>
    <a href="#fourth-page"><li>Projects</li></a>
    <a href="#fifth-page"><li>Contact</li></a>
  </ul>
</nav>